*{
    box-sizing: border-box;
}

.main{
    border: 1px solid black;
    height:800px;
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}
.row{
    height: 100px;
    width: 100%;
    flex-wrap: nowrap;
}
.col{
    float: left;
    border: 2px solid black;
    height: 100%;
    width: 12.5%;
    /* flex-grow: 1; */
}
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

@media screen and (max-width:600px){
    .main{
        width: 450px;
        height: max-content;
    }
    .row{
        height: 60px;
    }
   
    .col{
        height: 60px;
    }
    
}

@media screen and (max-width:900px) and (min-width:600px){
    .main{
        width: 550px;
        height: max-content;  
    }
    .row{
        height: 80px;
    }
   
    .col{
        height: 80px;
    }
    
}
h1{
    color: white;
}

